.header{
    background-color: black;
    padding: 16px;
    display: flex;
}
.header-logo{
    transform: translate(50%, 50%) scale(2);
}

@media screen and (max-width:960px){
    .header{
        padding: 4px;
    }
    .arrow{
        scale: 0.6;
    }
    .header-logo{
        transform: translate(0%, 25%) scale(1);
    }
}